<launch>
    <arg name="world_mocap_frame" default="world" />
    <arg name="camera_mocap_frame" default="d435i" /> <!-- Same as rigid body name in Motive -->
    <arg name="camera_frame" default="camera_link" />

    <!-- Networking for Motive -->
    <arg name="motive_ip" default="192.168.1.184" /> <!-- IP of laptop running Motive on network -->
    <arg name="local_ip" default="128.30.11.9" /> <!-- IP of this computer on network -->

    <!-- Start mocap node -->
    <include file="$(find mocap)/launch/optitrack.launch">
        <arg name="tf_parent_frame" value="$(arg world_mocap_frame)" />
        <arg name="local" value="$(arg local_ip)" />
        <arg name="server" value="$(arg motive_ip)" />
    </include>

    <!-- Start easy hand eye broadcast -->
    <!--include file="$(find easy_handeye)/launch/publish.launch"-->
        <!--arg name="eye_on_hand" value="true"/-->
        <!--arg name="namespace_prefix" value="eye_in_hand"/--> <!-- use the same namespace that you used during calibration! -->
    <!--/include-->
</launch>
